@import '../custom.scss';

h5 {
    line-height: 1.4;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in;

    &:nth-child(2n) {
        .card {
            background-color: $info !important; /*no reason! - just to give a different background color to some cards!*/
          }
    }

    &:nth-child(3n) {
        .card {
            background-color: $danger !important; /*no reason! - just to give a different background color to some cards!*/
          }
    }
  }